@media(max-width: 1299px) {
    #nav {
        position: absolute;
        z-index: 2;
        margin-left: 3%;
        margin-top: 4%;
        /* background-color: yellow; */
    }
}

@media(max-width: 1269px) {
    #nav {
        position: absolute;
        z-index: 2;
        margin-left: 3%;
        margin-top: 3%;
        /* background-color: yellow; */
    }
    .Redes {
        font-size: 38px;
        /* margin: 8px; */
        /* padding: 18px; */
        /* text-align: center; */
        margin-top: 0%;
    }
}

@media(max-width: 1207px) {
    #nav {
        position: absolute;
        ´ z-index: 2;
        margin-left: 1%;
        margin-top: 1%;
        /* background-color: yellow; */
    }
}

@media(max-width: 1145px) {
    #nav {
        position: absolute;
        z-index: 2;
        margin-left: 1%;
        margin-top: 1%;
        /* background-color: yellow; */
    }
}